appdirs==1.4.3
boto3==1.4.4
botocore==1.5.63
certifi==2017.4.17
chardet==3.0.3
contextlib2==0.5.5
cssmin==0.2.0
Django==1.11.1
django-filter==1.0.4
django-pipeline==1.6.12
django-storages==1.5.2
djangorestframework==3.6.3
docutils==0.13.1
idna==2.5
jmespath==0.9.3
Markdown==2.6.8
packaging==16.8
ply==3.10
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
raven==6.1.0
requests==2.17.3
s3transfer==0.1.10
six==1.10.0
slimit==0.8.1
spotipy==2.4.4
urllib3==1.21.1
