html, body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  color: #424242;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: default;
}

.days {
  position: absolute;
  padding-left: 2px;
  font-size: 10px;
  color: #7a7a7a;
}

.eargasm {
  position: absolute;
  font-size: 10px;
  right: 0;
  color: #1ED760;
  margin-right: 5px;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  visibility: hidden;
}

.title {
  font-size: 60px;
  color: #424242;
  font-weight: 800;
  text-transform: uppercase;
}

.title a:visited {
  color: #424242;
}

.title a {
  color: #424242;
}

.date {
  color: #7a7a7a;
}

.scribblings {
  font-size: 18px;
}

hr {
  width: 30px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

a:visited {
  color: #6534ff;
}

a {
  text-decoration: none;
  color: #6534ff;
}

.caption {
    font-size: 0.75em;
    color: #7a7a7a;
    word-wrap: break-word;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 40px);
}

.disclaimer {
  color: #7a7a7a;
  padding: 25px;
  text-align: center;
}

.favorite {
  color: #C2185B;
  vertical-align: -4px;
}

.favoriteNumber {
  color: #C2185B;
}

.comments {
  color: #00897B;
  vertical-align: -4px;
}

.commentsNumber {
  color: #00897B;
}

.post {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

i.material-icons {
  font-size: 20px;
}

.superuser {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  background: #fafafa;
}

.back {
  float: left;
  margin-top: -43px;
  padding-left: 10px;
  z-index: 10;
  cursor: pointer;
}

.back .material-icons {
  vertical-align: -5px;
}

form {
  margin-top: 30px;
}

.uploadForm {
  margin-top: 10px;
}

.upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload + label {
    cursor: pointer;
}

.submitConcoct {
  border-style: solid;
  color: #6534ff;
  border: none;
  font-size: 16px;
  background: #ffffff;
  cursor: pointer;
  display: none;
}

.submit {
  border-style: solid;
  color: #6534ff;
  border: none;
  font-size: 16px;
  background: #ffffff;
  cursor: pointer;
}

.link {
  width: 600px;
  word-wrap: break-word;
}

i.material-icons.uploadDone {
  font-size: 42px;
  color: #009688;
}

.uploadBack {
  position: absolute;
  left: 0px;
  margin-top: 20px;
  padding-left: 10px;
  z-index: 10;
  padding: 0;
}

.labelJS {
  display: hidden;
}

.spotify {
  color: #1ED760;
}

.spotify:visited {
  color: #1ED760;
}

[v-cloak] {
  display: none;
}

@media (min-width: 479px) {
  .card {
    width: 600px;
  }
}

@media (max-width: 479px) {
  .link {
    width: 350px;
  }
  .title {
    font-size: 45px;
  }
}
