textarea {
  width: calc(100% - 8px);
  min-height: 400px;
  color: #424242;
  margin-bottom: 5px;
  border-style: solid;
  border-color: #6534ff;
  border-width: 2px;
  font-size: 20px;
  -webkit-appearance: none;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

input {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  margin-bottom: 5px;
  border-style: solid;
  border-color: #6534ff;
  width: calc(100% - 6px);
  -webkit-appearance: none;
}

.submit {
  margin-bottom: 0;
  background: #00E676;
  color: #fafafa;
  border: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  height: 40px;
  cursor: pointer;
}

.back {
  position: absolute;
  left: 0px;
  margin-top: 20px;
  padding-left: 10px;
  z-index: 10;
  padding: 0;
}
