<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My internet abode - Jeremy Philemon</title>

    <!-- Stylesheet -->
    {% load static %}
    <link href="{% static "fluff.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">

  </head>

  <body>

    <div class="days" v-cloak>
      [ daysalive ] π [ pwning ]
    </div>

    {% for x in stories %}
    <div class="card">
        <div class="date"> {{ x.createdTime|date:"d M, Y" }} </div>
        <div class="title">
          {{ x.title }}
        </div>
        <div class="scribblings">
            {{ x.story|safe }}
        </div>
    </div>
    <hr>
    {% endfor %}

    <center>
      <img src="http://imgs.xkcd.com/clickdrag/13n1e.png" width="50%">
    </center>
    <center>
      Made with <img class="cardio" src="https://jeremyphilemon.github.io/blog/images/Heart.svg"> by Jeremy. <br><br>
    </center>

    <!-- jQuery, Vue & I -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="{% static "fluff.js" %}"></script>
  </body>
</html>
