<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ story.title }}</title>
    <!-- Stylesheet -->
    {% load static %}{% load pipeline %}{% stylesheet 'fluff' %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800" rel="stylesheet">
    {% include "favicon.html" %}
    <!-- Open Graph -->
    <meta property="og:title" content="{{ story.title }}"/>
    <meta property="og:description" content="{{ story.story|truncatechars:500|striptags }}"/>
    <meta property="og:image" content="{{ story.image }}"/>
  </head>

  <body>

    <div class="days" v-cloak>
      [ daysalive ] π [ pwning ]
    </div>

    {% if request.user.is_superuser %}
    <div class="superuser">
      <a href="{% url 'edit' story.pk %}">Edit</a>
      <a href="#">Archive</a>
      <a href="#">Delete</a>
    </div>
    <a class="back" href="{% url 'boing' %}"><i class="material-icons">keyboard_arrow_left</i>Boing</a>
    {% endif %}

    <div class="card">
        <div class="date"> {{ story.createdTime|date:"d M, Y" }}</div>
        <div class="title">
          {{ story.title }}
        </div>
        <div class="scribblings">
            {{ story.story|safe }}
        </div>
    </div>
    <hr>

    <center>
      <img src="http://imgs.xkcd.com/clickdrag/13n1e.png" width="50%">
    </center>

    <!-- jQuery, Vue & I -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="/static/vue.min.js"></script>
    {% javascript 'fluff' %}
  </body>
</html>
